NEXT_PUBLIC_BASE_URL="" # https://typed.sanitypress.dev

NEXT_PUBLIC_SANITY_PROJECT_ID="jy7u0ikv"
NEXT_PUBLIC_SANITY_DATASET="production"

SANITY_API_READ_TOKEN="sklfSmBnwNhlUKVFpGN4VzZeeyaVgkI3JgCC9mz1lX9z3UtOACd1kzlXChlzAG30gmBQJk6qMIC1Dhok72VmzErwh5EIpJ9H5a0QvYsMbjld3LBB0YKLa3Sos5bXSDdZWDYn1FrkOHArpkIzoJqHeEUH3eLbqcVhB5HLbiicbwVJdFGR58DJ"
