NEXT_PUBLIC_BASE_URL="" # https://typed.sanitypress.dev

NEXT_PUBLIC_SANITY_PROJECT_ID="3xdg1ezw"
NEXT_PUBLIC_SANITY_DATASET="production"

SANITY_API_READ_TOKEN="ski37fzgdR8lmfXGiHyZNSDMU1NQXVofEyVkHJXAAK0EEYLl6L76xvwN3bhtHtSGFCHDcMbrrluhUMzD9QrQUYiTNGflMPAM7xvP0kCzghcrcXwAqH0yeCitC86rFYF3fH9QxL8jpOWYKQaBDdtwYpLsrVXZMDXIrfndlGzHTVBI8YsW9KIe"
